<header>
  <ul>
    <li><a [routerLinkActive]="['actived']" routerLink="/sobre-mi">Sobre Mi</a></li>
    <li><a [routerLinkActive]="['actived']" routerLink="/proyectos">Proyectos</a></li>
    <li id="logo"><a href="#">RM</a></li>
    <li><a [routerLinkActive]="['actived']" routerLink="/crear-projecto">Crear Projecto</a></li>
    <li><a [routerLinkActive]="['actived']" routerLink="/contacto">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript &copy; 2023
</footer>

