<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about-me">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
    corporis culpa cumque ea exercitationem explicabo facere, fugiat ipsa,
    mollitia nobis non nulla odit placeat quam sapiente sequi similique totam
    veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Consequatur consequuntur dignissimos distinctio doloribus, exercitationem
    expedita fugiat fugit incidunt, laudantium magni porro sed velit vero! Autem
    debitis harum quisquam voluptate. Quae! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Ea nam possimus provident rerum sapiente,
    totam velit veritatis voluptatem. Dignissimos dolor explicabo ipsa ipsum
    itaque libero nisi placeat quas quis saepe! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Accusamus, autem dicta dignissimos eos facere
    fugiat impedit ipsa iste maiores molestiae neque nisi odio odit quam saepe
    sint suscipit, ullam veniam?
  </p>
</article>
