<div class="container">
  <h2>{{title}}</h2>

  <div *ngIf="status == 'success'" class="message success">
    El proyecto se ha creado correctamente. Puedes <a href="#">verlo aquí</a>
  </div>
  <div *ngIf="status == 'failed'" class="message failed">
    El proyecto NO se ha podido crear
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Nombre</label>
      <input #name="ngModel" [(ngModel)]="project.name" id="name" name="name" ngModel required type="text"/>
      <span *ngIf="name.touched && !name.valid" class="form_error">El nombre es obligatorio</span>
    </p>
    <p>
      <label for="description">Decripción</label>
      <input #description="ngModel" [(ngModel)]="project.description" id="description" name="description"
             ngModel required type="text">
      <span *ngIf="description.touched && !description.valid" class="form_error">La descripción es obligatoria</span>
    </p>
    <p>
      <label for="category">Categoría</label>
      <textarea #category="ngModel" [(ngModel)]="project.category" id="category" name="category"
                ngModel required> </textarea>
      <span *ngIf="category.touched && !category.valid" class="form_error">La categoría es obligatoria</span>
    </p>
    <p>
      <label for="year">Año de lanzamiento</label>
      <input #year="ngModel" [(ngModel)]="project.year" id="year" name="year" ngModel type="number">
    </p>
    <p>
      <label for="langs">Lenguajes utilizados</label>
      <input #langs="ngModel" [(ngModel)]="project.langs" id="langs" name="langs" ngModel required type="text">
      <span *ngIf="langs.touched && !langs.valid" class="form_error">Los lenguajes son obligatorios</span>
    </p>
    <p>
      <label for="image">Imagen del proyecto</label>
      <input id="image" name="image" placeholder="Subir imagen" type="file">
    </p>

    <input [disabled]="!projectForm.valid" type="submit" value="Enviar">
  </form>
</div>

