<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<p>
  <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()" />
  <!-- blur() -->
  <button (click)="getMarca()">Mostrar marca</button>
  <button (click)="addMarca()">Añadir marca</button>
</p>
<strong
  ><p>{{ mi_marca }}</p></strong
>

<p>Compra las zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{ indice + " - " + marca }}
    <button (click)="removeMarca(indice)">Borrar</button>
  </li>
</ul>

<p>Las zapatillas que tenemos disponibles son las siguientes:</p>
<ul>
  <li *ngFor="let tillas of zapatillas">
    <span
      [ngStyle]="{
        'text-decoration': !tillas.stock ? 'line-through' : 'none'
      }"
    >
      {{ tillas.nombre }} -
      <strong
        [class.altoPrecio]="tillas.precio >= 90"
        [ngClass]="{
          fondoRojo: tillas.precio > 100,
          subrayado: tillas.marca == 'Nike'
        }"
      >
        $ {{ tillas.precio }}</strong
      >
    </span>

    <span
      *ngIf="tillas.precio <= 80"
      [style.background]="tillas.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="tillas.precio <= 80 ? 'white' : 'black'"
    >
      ¡¡EN OFERTA !!</span
    >
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es :</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color predominante es el
    <span [ngStyle]="{ background: color }">amarillo.</span>
  </li>
  <li *ngSwitchCase="'blue'">
    El color predominante es el
    <span [ngStyle]="{ background: color }">azul.</span>
  </li>
  <li *ngSwitchCase="'red'">
    El color predominante es el
    <span [ngStyle]="{ background: color }">rojo.</span>
  </li>
  <li *ngSwitchCase="'orange'">
    El color predominante es el
    <span [ngStyle]="{ background: color }">naranjo.</span>
  </li>
</ul>
